{% extends 'home/header.html' %}
{% load static %}


{% block title %}
    Groove Street Memorial
{% endblock title %}



{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>
    <div id="home">
        <h1 class="display-1 text-center">Groove Street Memorial</h1>
        <div id="carousel-container">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              
              {% for item in carousel_images %}
                
                {% if forloop.first %}
                <div class="carousel-item active">
                  <div class="image-container">
                    <img class="img-fluid" src="{{item.image.url}}"  alt="...">
                  </div>
                 
                </div>
                {% else %}
                <div class="carousel-item">
                  <div class="image-container">
                    <img class="img-fluid" src="{{item.image.url}}"  alt="...">
                  </div>
                </div>    
                {% endif %}
                  
              {% endfor %}
                
              
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
    
    