html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFF;
}
#block{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    background-color: #EEE;
   
}